<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PPDDashboardPage_Staging" value="http://gmostg/site/partners/pages/fy14ppd.aspx"/>
    <add key="PPDDashboardPage_Production" value="http://gmobi/site/partners/pages/fy14ppd.aspx"/>
    <add key="PPDHeatMapPage_Production" value="http://gmobi/site/partners/Pages/fy14ppdHeatmap.aspx"/>
    <add key="MetricUploadService" value="http://gmobi/site/partners/Pages/uploadFeedFile.aspx"/>
    <add key="MetricApprovalService" value="http://gmobi/site/partners/Pages/metricApprovalservice.aspx"/>
    <add key="SecurityCheckReport" value="http://co1msftpppdsql1/site/partners/Pages/securitycheck.aspx/"/>
    <add key="MetricApprovalETL"  value="http://gmobi/site/partners/Pages/metricapprovaletl.aspx"/>
  </appSettings>
</configuration>